body {
  background-color: lightblue;
}

h1 {
  color: blue;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.content {
  max-width: 500px;
  margin: auto;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
