<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<title>Emotion Recognition</title>
<div class="content">
    <h1>Welcome to our Data Science Emotion Recognition Final Project :)</h1>
    <h2>Select a file to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        Label: {{ messages[0] }}
        Accuracy: {{ messages[1] }}
        {% endif %}
        {% endwith %}
    </p>
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input class="btn" type="submit" value="Submit">
        </p>
    </form>
</div>